@use "colors";
@use "boilerplate";
@use "util";
@use "typography";
@use "theme-slider";

/* 
    Main    
*/

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--primary-text-color);
}

main {
  max-width: 1100px;
  width: 95%;
  padding: 2rem 25px;
}

.dashboard-header {
  display: flex;
  align-items: left;
  flex-flow: column wrap;

  .dashboard-header__name {
    h3 {
      color: var(--sec-text-color);
    }
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(var(--sec-text-color-str), 0.2);

    @media screen and (min-width: 640px) {
      border-bottom: none;
    }
  }

  .theme-slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: var(--sec-text-color);
    padding-top: 1rem;
  }

  @media screen and (min-width: 640px) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.theme-slider {
  display: inline-block;
}

.dashboard-total__cards {
  margin: 1rem 0;
  @media screen and (min-width: 640px) {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 250px);
  }
}

.dashboard-total__cards--card {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: auto;
  border-radius: 0 0 5px 5px;
  cursor: pointer;

  @media screen and (min-width: 640px) {
    width: 250px;
    margin: 0;
  }

  &-name {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &-followers {
    text-align: center;
  }
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    z-index: -10;
    border-radius: 5px;
  }

  &:hover {
    background-color: var(--card-hover-color);
  }
}

#instagram {
  &::after {
    background: var(--instagram-color);
  }
}

#facebook {
  &::after {
    background: var(--facebook-color);
  }
}

#twitter {
  &::after {
    background: var(--twitter-color);
  }
}

#youtube {
  &::after {
    background: var(--youtube-color);
  }
}

.dashboard-today__cards {
  @extend .dashboard-total__cards;
}

.dashboard-today__cards--card {
  @extend .dashboard-total__cards--card;
  border-radius: 5px;

  &-name,
  &-numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &::after {
    content: none;
  }
}

.dashboard-today__cards--card-percents {
  display: flex;
  align-items: flex-end;
}
